h1 {
  font-size: 32px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 20px;
  font-style: italic;
  font-weight: 100;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 12px;
}
.banner {
  display: block;
  margin: auto;
  border-radius: 10px;
}
.intro {
  text-align: center;
  font-size: 28px;
}
.people_list {
  column-count: 2;
  margin: auto;
}
.people p{
  /* display: inline-block; width: 100%; */
  -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
          page-break-inside: avoid; /* Firefox */
               break-inside: avoid; /* IE 10+ */
               break-inside: avoid-column; /* W3C */

}
.name {
  font-size: 32px;
  color: black;
}
.leaflet {
    margin: auto;
}